<%- include('../partials/header') %>

<form action="/DevSkills" method="POST" autocomplete="off">
  <input type="text" name="DevSkill" placeholder="Enter Skill Here">
  <button type="submit" class="subBtn">Save Dev Skill</button>
</form>

<%- include('../partials/footer') %>
