
<%- include('../partials/header') %>

    <h1> Language </h1>
    <h3><%= DevSkill.DevSkill %></h3>
    <h3>Complete: <%= DevSkill.done ? 'Yes' : 'No' %></h3>

    <%- include('../partials/footer') %>